{{ define "main" }}
<script type="text/javascript" src="js/image.js"></script>
<script type="text/javascript" src="js/copy.js"></script>
<div class="main">
	<div class="page-title">
		<h2>
			<span>🗓️ </span>
			<time class="dt-published" datetime="{{ .Date.Format " 2006-01-02 15:04:05 -0700" }}">
				{{ .Date.Format "Jan 2, 2006"}}
			</time>
		</h2>
		<div class="permalink">
			<span>🔗 </span><span id="permalink">permalink</span>
		</div>
	</div>
	<ul class="entries">
		<li class="entry">
			{{ if .Title }}
			<h1 class="entry-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
			{{ end }}
			<div class="entry-content-wrapper">
				<div class="fake-border"></div>
				<div class="entry-content">{{ .Content }}</div>
			</div>
		</li>
	</ul>
	{{ if .Site.Params.include_conversation }}
	<div class="replies-header" style="display: none;">
		<div class="post-separator"></div>
		<div class="page-title">
			<h2>💬 Replies</h2>
		</div>
	</div>
	<script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
	<noscript>JavaScript is required to view post replies.</noscript>
	{{ end }}
</div>
<script type="text/javascript" src="../js/copy.js"></script>
{{ end }}