{{ define "main" }}
<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function () {
		const permalink = document.getElementById('permalink');

		if (permalink) {
			permalink.addEventListener('click', function (e) {
				navigator.clipboard.writeText(window.location.href);
				var oldText = permalink.innerHTML;
				permalink.innerHTML = "copied!";

				setTimeout(function () {
					permalink.innerHTML = oldText;
				}, 3000);
			});
		}

		const conversations = document.querySelector("div.microblog_conversation");
		
		if(conversations) {
			const repliesHeader = document.querySelector("div.replies-header");
			if(repliesHeader) {
				repliesHeader.style.display = "block";
			}
		}
	}, false);
</script>
<div class="main">
	<div class="page-title">
		<h1>
			<span>📅 </span>
			<time class="dt-published" datetime="{{ .Date.Format " 2006-01-02 15:04:05 -0700" }}">
				{{ .Date.Format "Jan 2, 2006"}}
			</time>
		</h1>
		<div class="permalink">
			<span>🔗 </span><span id="permalink">permalink</span>
		</div>
	</div>
	<ul class="entries">
		<li class="entry">
			{{ if .Title }}
			<h1 class="entry-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
			{{ end }}
			<div class="entry-content-wrapper">
				<div class="fake-border"></div>
				<div class="entry-content">{{ .Content }}</div>
			</div>
		</li>
	</ul>
	{{ if .Site.Params.include_conversation }}
	<div class="replies-header" style="display: none;">
		<div class="replies-separator"></div>
		<div class="page-title">
			<h1>💬 Replies</h1>
		</div>
	</div>
	<script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
	<noscript>JavaScript is required to view post replies.</noscript>
	{{ end }}
</div>
{{ end }}