/* fonts */
@font-face {
	font-family: 'Arvo';
	font-weight: normal;
	src: url('../fonts/Arvo/Arvo-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Arvo';
	font-style: bold;
	src: url('../fonts/Arvo/Arvo-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Arvo';
	font-style: italic;
	src: url('../fonts/Arvo/Arvo-Italic.ttf') format('truetype');
}
@font-face {
  	font-family: "Poppins";
	font-weight: normal;
  	src: url('../fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
  	font-family: "Poppins";
	font-weight: bold;
  	src: url('../fonts/Poppins/Poppins-Bold.ttf');
}
@font-face {
  	font-family: "Poppins";
	font-style: italic;
  	src: url('../fonts/Poppins/Poppins-Italic.ttf');
}
/* global */
:root {
  color-scheme: light dark; /* both supported */
}
html {
	--content-width: 40rem;
	height: 100%;
}
body {
	--accent-color: #efefef;
	--bg-image: url('../img/cloud-bg-2.jpg');
	--bg-overlay-filter: saturate(0%) brightness(150%);
	--bg-overlay-gradient: linear-gradient(to bottom, rgba(220, 230, 255, 0.7), rgba(200, 200, 255, 0.9));
	--text-color: #2f2f2f;
	--link-color: black;
}
body.dark-theme {
	--accent-color: #2f2f2f;
	--bg-image: url('../img/cloud-bg-1.jpg');
	--bg-overlay-filter: saturate(0%) brightness(50%);
	--bg-overlay-gradient: linear-gradient(to bottom, rgba(8, 32, 64, 0.5), rgba(0, 16, 32, 0.6));
	--text-color: #efefef;
	--link-color: white;
}
body {
	font-family: "Poppins";
	background-color: white;
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	min-height: 100%;
	margin: 0;
}
h1 {
	font-size: 1.6rem;
	padding: 0;
	margin: 0;
}
h2 {
	font-size: 1.4rem;
}
h3 {
	font-size: 1.2rem;
}
h4, h5, h6 {
	font-size: 1rem;
}
#bg {
	background: var(--bg-image);
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
#bg-overlay {
	-webkit-backdrop-filter: var(--bg-overlay-filter);
	backdrop-filter: var(--bg-overlay-filter);
	background: var(--bg-overlay-gradient);
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
#permalink {
	text-decoration: underline;
}
#permalink:hover {
	cursor: pointer;
}
.credit {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 0.7rem;
	margin: auto auto 1rem auto;
	width: var(--content-width);
	opacity: 50%;
}
	.credit a {
		color: var(--link-color);
	}
.photos-grid-container {
    margin-top: 1rem;
}
.mb-logo {
    width: 2rem;
    position: absolute;
    margin-left: -2.2rem;
    margin-top: -0.5rem;
}
.rss-logo {
	margin-bottom: -0.2rem;
	width: 1rem;
}

/* header content */
.site-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 4rem;
	margin: auto;
	width: var(--content-width);
}
	.site-header>.site-title {
  		display: flex;
		font-family: Arvo;
		color: var(--text-color);
		font-size: 2rem;
		transition: transform .2s;
	}
	.site-header>.site-title:hover {
  		transform: scale(1.2) rotate(-2deg);
	}
		.site-header>.site-title>a {
			color: var(--text-color);
		}
        .site-header>.site-title>a:hover {
			text-decoration: underline;
		}
	.site-header>nav {
  		display: flex;
		flex-wrap: wrap;
  		column-gap: 1rem;
		padding-left: 0.5rem;
		border-left: 0.25rem solid var(--text-color);
		margin-top: 1rem;
		text-transform: lowercase;
	}
			.site-header>nav a {
				align-self: center;
				color: var(--text-color);
			}
			.site-header>nav a.page-emoji-link {
				text-decoration: none;
			}
			.site-header>nav>.page-link-wrapper {
				display: flex;
				align-items: flex-end;
				gap: 0.3rem;
			}
/* blog posts */
.main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: auto;
	padding-top: 4rem;
	width: var(--content-width);
}
	.main>.page-title {
		align-self: flex-start;
	}
    .main>.photos-page-title {
		align-self: center;
	}
	.main ul.categories {
		display: flex;
		flex-wrap: wrap;
		column-gap: 1rem;
		row-gap: 0.5rem;
		padding-inline-start: 0;
		border-left: 0.25rem solid var(--text-color);
		padding-left: 0.5rem;
		margin: 1rem 0 2rem 0;
		text-transform: lowercase;
	}
		.main ul.categories>li {
			list-style-type: none;
			white-space: nowrap;
		}
		.main ul.categories>li>a {
			color: var(--text-color);
		}
	.main ul.entries {
		display: flex;
		flex-direction: column;
		padding-inline-start: 0;
  		row-gap: 4rem;
		margin-bottom: 0;
		margin-top: 2rem;
  	}
	.main li.entry {
		list-style-type: none;
	}
	.main li.entry p:last-child {
		margin-bottom: 0;
	}
	.main li.entry>h1.entry-title {
		margin-bottom: 0.5rem;
        display: flex;
	}
	.main li.entry>h1.entry-title>a {
        display: block;
		background-color: var(--text-color);
		border-radius: 0.4rem;
		color: var(--accent-color);
		font-family: Arvo;
		padding: 0.4rem 0.8rem 0.4rem 0.8rem;
		text-decoration: none;
	}
	.main li.entry>h1.entry-title>a:hover {
		text-decoration: underline;
	}
	.main li.entry>.entry-metadata {
		color: var(--accent-color);
		margin-bottom: -0.1rem;
	}
		.main li.entry>.entry-metadata>span {
			display: inline-block;
			background-color: var(--text-color);
			border-radius: 0.4rem 0.4rem 0 0;
			padding: 0.3rem 0.8rem 0.3rem 0.8rem;
		}
		.main li.entry>.entry-metadata a {
			color: var(--accent-color);
			text-decoration: none;
		}
		.main li.entry>.entry-metadata a:hover {
			text-decoration: underline;
		}
	.main li.entry .entry-content {
		-webkit-backdrop-filter: blur(0.4rem);
		backdrop-filter: blur(0.4rem);
		border-left: 0.25rem solid var(--text-color);
		border-radius: 0 0.4rem 0.4rem 0;
		padding: 0.3rem 0.5rem 0.3rem 0.5rem;
		text-align: justify;
		word-wrap: break-word;
	}
	.main li.entry .reading-entry-content {
		background: linear-gradient(45deg, rgba(47, 47, 47, 0.2), transparent);
		border-radius: 0.4rem;
		display: flex;
		column-gap: 1rem;
		border: none;
		padding: 1rem;
	}
	.main li.entry .entry-content img.book-cover {
		box-shadow: none;
		border: none;
	}
	.main li.entry .entry-content book-title {
		
	}
	.main li.entry .entry-content book-author {
		
	}
	.main li.entry .entry-content>p {
		margin-top: 0;
	}
    .main li.entry .entry-content p>img:nth-child(odd) {
    	transform: rotate(1deg);
    }
	.main li.entry .entry-content p>img:nth-child(even) {
    	transform: rotate(-1deg);
    }
	.main li.entry .entry-content>img:nth-child(even) {
    	transform: rotate(-1deg);
    }
	.main li.entry .entry-content a {
		color: var(--link-color);
	}
	.main li.entry .entry-content img {
		box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.5);
		border: 0.6rem solid white;
		margin: 0.4rem;
		/* Make sure big images with borders don't go outside of main */
		max-width: calc(100% - 2rem); 
		height: auto;
		width: auto;
	}
.photogrid {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	justify-content: space-evenly;
	margin: 2rem 4rem auto 4rem;
}
	.photogrid img {
		box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.5);
		border: 0.6rem solid white;
		margin: 1rem;
		max-width: 16rem;
	}
	.photogrid a:nth-child(odd) img {
		transform: rotate(1deg);
	}
	.photogrid a:nth-child(even) img {
		transform: rotate(-1deg);
	}
/* pagination */
#post-nav {
	display: flex;
	justify-content: flex-end;
	margin: 2rem auto auto auto;
	width: var(--content-width);
}
	#post-nav a {
		color: var(--accent-color);
		text-decoration: none;
	}
	#post-nav a:hover {
		text-decoration: underline;
	}
	#post-nav .next {
		background-color: var(--text-color);
		border-radius: 0.4rem;
		padding: 0.3rem 0.6rem 0.3rem 0.6rem;
	}
	#post-nav .prev {
		background-color: var(--text-color);
		border-radius: 0.4rem;
		padding: 0.3rem 0.8rem 0.3rem 0.8rem;
	}
	#post-nav .spacer {
		flex-grow: 1;
	}
/* footer */
footer {
	display: flex;
	flex-shrink: 0;
	margin: auto;
	padding: 4rem 0 4rem 0;
	width: var(--content-width);
}
	footer>.footer-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	footer>.footer-wrapper>.blog-description {
		background-color: var(--text-color);
		border-radius: 0.4rem;
		padding: 0.3rem 0.8rem 0.3rem 0.8rem;
	}
	footer>.footer-wrapper>.blog-description>a {
		color: var(--accent-color);
		text-decoration: none;
	}
	footer>.footer-wrapper>.blog-description>a:hover {
		text-decoration: underline;
	}
	footer>.footer-wrapper>.footer-links {
		display: flex;
		border-left: 0.25rem solid var(--text-color);
		padding-left: 0.5rem;
		margin-right: 0.5rem;
	}
	footer>.footer-wrapper>.footer-links a {
		color: var(--text-color);
	}

/* smaller displays. */
@media (max-width: 46rem) {
	.credit {
		width: calc(100% - 2rem);
	}
	.site-header {
		flex-direction: column;
		align-items: center;
		width: calc(100% - 2rem);
	}
	.site-header>.site-title {
		margin-left: 0.6rem;
	}
	.site-header>nav {
		column-gap: 2rem;
		border-left: none;
		padding-left: 0;
	}
	.site-header>nav>.page-link-wrapper {
		align-items: center;
		flex-direction: column;
	}
	.site-header>nav>.page-link-wrapper>.page-link {
		display: none;
	}
	.site-header>nav>.page-link-wrapper>.page-link-emoji {
		font-size: 1.6rem;
		margin-bottom: 0;
	}
	.main {
		width: calc(100% - 2rem);
		padding-top: 2rem;
	}
	.main li.entry .reading-entry-content {
		flex-direction: column;
		row-gap: 1rem;
	}
	.main li.entry .reading-entry-content>img{
		max-width: 50%;
	}
	#post-nav {
		width: calc(100% - 2rem);
	}
	footer {
		width: calc(100% - 2rem);
	}
	footer>.footer-wrapper {
		flex-direction: column;
		row-gap: 1rem;
		align-items: flex-start;
	}
}

/* tiny displays. */
@media (max-width: 24rem) {
	.site-header>nav {
		column-gap: 1.6rem;
	}
	.main li.entry .reading-entry-content {
		padding: 1rem;
	}
}

/* dark mode. */
@media (prefers-color-scheme: dark) {
	html {
		background: url('../img/cloud-bg-1.jpg') black;
	}
	body {
		--accent-color: #2f2f2f;
		--bg-image: url('../img/cloud-bg-1.jpg');
		--bg-overlay-filter: saturate(0%) brightness(50%);
		--bg-overlay-gradient: linear-gradient(to bottom, rgba(8, 32, 64, 0.5), rgba(0, 16, 32, 0.6));
		--link-color: white;
		--text-color: #efefef;
	}
	body.light-theme {
		--accent-color: #efefef;
		--bg-image: url('../img/cloud-bg-2.jpg');
		--bg-overlay-filter: saturate(0%) brightness(150%);
		--bg-overlay-gradient: linear-gradient(to bottom, rgba(220, 230, 255, 0.7), rgba(200, 200, 255, 0.9));
		--text-color: #2f2f2f;
		--link-color: black;
	}
	body {
		background: rgba(10, 10, 15, 0.7);
		color: var(--text-color);
	}
	#bg {
		background: var(--bg-image);
	}
	#bg-overlay {
		-webkit-backdrop-filter: var(--bg-overlay-filter);
		backdrop-filter: var(--bg-overlay-filter);
		background: var(--bg-overlay-gradient);
	}
	.credit a {
		color: var(--link-color);
	}
	.site-header>.site-title {
		color: var(--text-color);
	}
		.site-header>.site-title>a {
			color: var(--text-color);
		}
	.site-header>nav {
		border-color: var(--text-color);
	}
		.site-header>nav a {
			color: var(--text-color);
		}
	.main ul.categories {
		border-color: var(--text-color);
	}
		.main ul.categories>li>a {
			color: var(--text-color);
		}
	.main li.entry>.entry-metadata {
		color: var(--accent-color);
	}
		.main li.entry>.entry-metadata>span {
			background-color: var(--text-color);
		}
		.main li.entry>.entry-metadata a {
			color: var(--accent-color);
		}
	.main li.entry .entry-content {
		border-color: var(--text-color);
	}
	.main li.entry>h1.entry-title>a {
		background-color: var(--text-color);
		color: var(--accent-color);
	}
	.main li.entry .reading-entry-content {
		background: linear-gradient(45deg, rgba(239, 239, 239, 0.2), transparent);
	}
	.main li.entry>.entry-content a {
		color: var(--link-color);
	}
	footer>.footer-wrapper>.blog-description {
		background-color: var(--text-color);
		color: var(--accent-color);
	}
	footer>.footer-wrapper>.blog-description>a {
		color: var(--accent-color);
	}
	footer>.footer-wrapper>.footer-links {
		border-color: var(--text-color)
	}
	footer>.footer-wrapper>.footer-links a {
		color: var(--text-color);
	}
}