/* Global */
html {
	background: #FAFAFA;
	font-family: Helvetica;
}
h1 {
	font-size: 1.6rem;
}
h2 {
	font-size: 1.4rem;
}
h3 {
	font-size: 1.2rem;
}
h4, h5, h6 {
	font-size: 1rem;
}

/* Header Content */
.site-header {
	display: flex;
	justify-content: space-between;
	margin: auto;
	width: 50rem;
}
	a.site-title {
		text-decoration: none;
		font-size: 2rem;
		color: #946B82;
	}
	.site-header>.site-nav {
  		display: flex;
  		column-gap: 1rem;
		align-items: center;
	}

/* Main (Blog Posts) */
.main {
	display: flex;
	margin: auto;
	width: 50rem;
}
	.main ul.entries {
		display: flex;
		flex-direction: column;
		padding-inline-start: 0;
  		row-gap: 2rem;
  	}
	.main li.entry {
		list-style-type: none;
	}
	.main li.entry .entry-content {
		border-left: 0.25rem solid black;
		padding-left: 0.5rem;
	}
