{{ define "main" }}
<div class="main">
	<div class="page-title">
     	<h1>📚 Reading</h1> 
    </div>
    <ul class="entries">
        {{ range .Site.Data.bookshelves.currentlyreading }}
		<li class="entry reading-entry">
        	<div class="entry-content reading-entry-content">
				<img class="book-cover" src="{{.cover_url}}"/>
   				<a href="https://micro.blog/books/{{ .isbn }}">
					<h1 class="book-title">
						{{ .title }} 
					</h1>
					<div>by {{.author}}</div>
				</a>
         	</div>
		</li>
		{{ end }}
	</ul>
</div>
{{ end }}