<header class="site-header">
	<div class="site-title">
    	<a href="/">{{.Site.Title}}</a>
	</div>
    <nav class="site-nav">
        {{ range .Site.Menus.main }}
        {{ if .Page.Params.redirect }}
        <a class="page-link" href="{{ .Page.Params.redirect }}">
            <div class="outer-button">
                <div class="inner-button">{{ .Name }}</div>
            </div>
        </a>
        {{ else }}
		<div class="page-link-wrapper">
  			{{ if in .Name "About" }}<span class="page-link-emoji">📖</span>{{ end }}
  			{{ if in .Name "Archive" }}<span class="page-link-emoji">🗄️</span>{{ end }}
  			{{ if in .Name "Photos" }}<span class="page-link-emoji">📸</span>{{ end }}
  			{{ if in .Name "Replies" }}<span class="page-link-emoji">💬</span>{{ end }}
			<a class="page-link" href="{{ .URL | relLangURL | safeURL }}">
  				{{ .Name }}
          	</a>
		</div>
        {{ end }}
        {{ end }}
    </nav>
</header>