{{ $paginator := .Paginator }}
{{ with $paginator }}
{{ if gt $paginator.TotalPages 1 }}
<nav id="post-nav">
    {{ if $paginator.HasPrev }}
        <span class="navlink">
			<span class="arrow">⬅️</span>
			<a href="{{ $paginator.Prev.URL }}" title="Previous Page">Previous</a>
        </span>
    {{ end }}
    {{ if and $paginator.HasPrev $paginator.HasNext }}
        <span class="spacer">|</span>
    {{ end }}
    {{ if $paginator.HasNext }}
        <span class="navlink">
            <a href="{{ $paginator.Next.URL }}">Next</a>
			<span class="arrow">➡️</span>
        </span>
    {{ end }}
</nav>
{{ end }}
{{ end }}