{{ define "main" }}
<script type="text/javascript" src="js/timeline.js"></script>
<script type="text/javascript" src="js/image.js"></script>
<div class="main">
	<div class="page-title">
		<h2>🗞️ Latest</h2>
	</div>
    <ul class="entries">
        {{ $pages := where .Site.Pages.ByDate.Reverse "Type" "post" }}
        {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
		{{ range $paginator.Pages }}
        <li class="entry">
            {{ if .Title }}
            <h1 class="entry-title">
                <span>🗒️</span>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h1>
            <div class="entry-metadata">
              <span class="date-title">
                <a href="{{ .Permalink }}">
                  <time class="dt-published"
                    datetime="{{ .Date.Format " 2006-01-02 15:04:05 -0700" }}">
                    {{ .Date.Format "Jan 2, 2006"}}
                  </time>
                </a>
              </span>
            </div>
            {{ end }}
            {{ if not .Title }}
              <div class="entry-metadata">
                <span class="date-title">
                      <span>🗓️</span>
                          <a href="{{ .Permalink }}" class="u-url">
                        <time class="dt-published"
                  datetime="{{ .Date.Format " 2006-01-02 15:04:05 -0700" }}">
                  {{ .Date.Format "Jan 2, 2006"}}
                        </time>
                      </a>
                </span>
              </div>
            {{ end }}
            <div class="entry-content-wrapper">
				<div class="fake-border"></div>
				<div class="entry-content">{{ .Content }}</div>
			</div>
            <div class="timeline">
                <div class="dot">•</div>
                <div class="dot">•</div>
                <div class="dot">•</div>
                <div class="dot">•</div>
            </div>
        </li>
        {{ end }}
    </ul>
</div>
{{ partial "pagination.html" .}}
{{ end }}