{{ define "main" }}
<div class="main">
    <ul class="entries">
        {{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") (index .Site.Params
        "archive-paginate" | default 25) }}
        {{ range $paginator.Pages }}
        <li class="entry">
            {{ if .Title }}
            <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            {{ end }}
            <div class="entry-metadata">
                <a href="{{ .Permalink }}" class="u-url">🗓️ <span class="post-meta"><time class="dt-published"
                            datetime="{{ .Date.Format " 2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006"
                            }}</time></span></a>
                {{ $hasText := in .Content "<p" }} {{ $hasPhoto :=in .Content "<img" }} {{ $hasVideo :=in
                    .Content "<video" }} <div class="post-content-hint">
                    {{ if $hasText }}📝{{ end }}
                    {{ if $hasPhoto }}📸{{ end }}
                    {{ if $hasVideo }}🎥{{ end }}
                </div>
            </div>
            <div class="entry-content">
                {{ .Content }}
            </div>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}