{{ define "main" }}
	<div class="main">
		<div class="page-title">
			<h1>🗄️ Archive</h1> 
		</div>
		{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
		{{ if gt (len $list) 0 }}
			<ul class="categories">
    			{{ range $list }}
					<li class="block-link">
						<span>📁</span>
						<a href="{{ .Permalink }}">
							{{ .Title }}
						</a>
					</li>
				{{ end }}
			</ul>
		{{ end }}
		<ul class="entries">
		{{ $list := (where .Site.Pages "Type" "post") }}
		{{ range $list }}
			<li class="entry">
				<div class="entry-metadata">
					<span>
						<a href="{{ .Permalink }}" class="u-url">
								<time class="dt-published" datetime="{{ .Date.Format " 2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006"}}
								</time>
						</a>
					</span>
				</div>
				<div class="entry-content">
					<span class="p-name"><b>{{ .Title }}</b></span> 
					<span class="p-summary">{{ .Summary | truncate 100 }}</span>
				</div>
			</li>
		{{ end }}
		</ul>
	</div>
{{ end }}