{{ define "main" }}
	<script type="text/javascript" src="js/timeline.js"></script>
	<div class="main">
		<div class="page-title">
			<h2>🗄️ Archive</h2>
		</div>
		{{ $list := ($.Site.GetPage "taxonomy" "categories").Pages }}
		{{ if gt (len $list) 0 }}
			<div class="categories-wrapper">
				  <div class="fake-border"></div>
				  <ul class="categories">
					  {{ range $list }}
					  <li>📁 <a href="{{ .Permalink }}">{{.Title}}</a></li>
					  {{ end }}
				  </ul>
			</div>
		{{ end }}
		<ul class="entries">
		{{ $list := (where .Site.Pages "Type" "post") }}
		{{ range $list }}
			<li class="entry">
				<div class="entry-metadata">
					<span>
						<span>📌🗓️</span>
						<a href="{{ .Permalink }}" class="u-url">
								<time class="dt-published" datetime="{{ .Date.Format " 2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006"}}
								</time>
						</a>
					</span>
				</div>
				<div class="entry-content-wrapper">
					<div class="fake-border"></div>
					<div class="entry-content">
						<span class="p-name"><b>{{ .Title }}</b></span>
						<span class="p-summary">{{ .Summary | truncate 100 }}</span>
					</div>
				</div>
				<div class="timeline">
					<div class="dot">•</div>
					<div class="dot">•</div>
					<div class="dot">•</div>
					<div class="dot">•</div>
				</div>
			</li>
		{{ end }}
		</ul>
	</div>
{{ end }}